# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc
*.pth

# Data & Large Datasets
dataset/
data/*.csv
!data/.gitkeep
*.task
data/ASL_Dynamic_Extracted/
data/ASL_Dynamic_Augmented/
diagnostics/*.png

# Model Weights
models/*.pkl

# OS & IDE Files
.DS_Store
.vscode/
.idea/

# Web App / Node Dependencies
web_app/node_modules/
web_app/dist/
web_app/.env